/* CORE */
@import "core/colors";
@import "core/grid";
@import 'core/mixins';

/* FONTS */
@import "core/fonts";
@import "core/transitions";
@import "core/typography";

/* ELEMENTS */
@import "elements/buttons";
@import "elements/headings";

/* COMPONENTS */
@import "components/main";

/* BROWSERS */
@import "core/browsers";
