body {
    background: $white;
    text-align: center;
    transition: background 0.5s ease;

    &.nodeGreen {
        background: $nodeGreen;
    }
}

h1, h3 {
    margin: 0 auto;
}

h3 {
    color: $white;
}

.node-logo {
    margin-top: 50px;
    width: 100%;
    transition: transform 0.3s ease;

    &:hover {
        cursor: pointer;
        transform: scale(1.3);
    }

    &:active {
        transform: scale(1);
    }
}
